<div class="border rounded my-3 ps-3">
  <ngx-skeleton-loader
    appearance="circle"
    [theme]="{ background: '#27374d77', width: '80px', height: '80px' }"
  >
  </ngx-skeleton-loader>

  <ngx-skeleton-loader
    class="d-block"
    [theme]="{
      background: '#27374d33',
      width: '200px',
      'border-radius': '0',
      height: '15px',
      'margin-bottom': '10px'
    }"
  ></ngx-skeleton-loader>

  <ngx-skeleton-loader
    class="d-block"
    [theme]="{
      background: '#27374d33',
      width: '170px',
      'border-radius': '0',
      height: '15px'
    }"
  ></ngx-skeleton-loader>

  <ngx-skeleton-loader
    class="d-block"
    [theme]="{
      background: '#27374d33',
      width: '200px',
      'border-radius': '0',
      height: '15px',
      'margin-bottom': '10px'
    }"
  ></ngx-skeleton-loader>
</div>
