<nav class="navbar navbar-expand-sm bg-navbar shadow">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"
      ><img
        src="assets/Logo/Logo.png"
        alt="Astra Tech"
        title="Astra Tech"
        class="navbar-img"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link"
          routerLinkActive="active fw-bold"
          routerLink="/posts"
          >Home</a
        >
        <a
          class="nav-link"
          routerLinkActive="active fw-bold"
          routerLink="/about"
          >About</a
        >
        <a
          class="nav-link"
          routerLinkActive="active fw-bold"
          routerLink="/contact"
          >Contact</a
        >
      </div>
    </div>
  </div>
</nav>
